# DB (MySQL)
DB_HOST=
DB_PORT=
DB_SCHEMA=
DB_USERNAME=
DB_PASSWORD=

# Google OAuth2 (구글 로그인 사용 시 필요)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# API Keys
UNSPLASH_KEY=
OPENAI_API_KEY=
PEXELS_API_KEY=

# URL 설정
FRONTEND_URL=http://localhost:8089
SPRINGBOOT_URL=http://localhost:8089
