<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::content})}">
    <div th:fragment="content">
        <div class="split-layout">
            <div class="split-left">
                <h2 style="font-size: 34px; line-height:1.4; margin-bottom: 20px; color:var(--text-white)">추상적인 브랜드 컨셉을<br>시각언어로 동기화하다</h2>
                <p style="color: var(--text-gray); margin-bottom: 30px; line-height: 1.6; font-size: 14px;">도시형 러너와 고프코어 브랜드를 위한 지능형 디렉트 툴.<br>아이디어를 입력하고 즉시 포지셔닝 맵을 확인하세요.</p>
                <button class="btn-action btn-orange" style="border-radius: 25px; padding: 14px 35px;" onclick="handleEntrance()">프로젝트 만들기</button>
            </div>
            <div class="split-right">
                <div class="preview-moodboard-grid">
                </div>
            </div>
        </div>
    </div>
</body>
</html>