<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title>BRAND-BEACON</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/features.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main th:insert="${content}"></main>

<script th:src="@{/js/common.js}"></script>

<th:block th:if="${#vars.containsKey('page-scripts')}" th:replace="~{:: page-scripts}"></th:block>

</body>
</html>