<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title>BRAND-BEACON</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/features.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div id="global-step-bar" class="step-container">
    <div class="step" id="st-6" onclick="navigateTo(6)">01 브랜드기획 동기화</div>
    <div class="step" id="st-7" onclick="navigateTo(7)">02 레퍼런스 이미지 선택</div>
    <div class="step" id="st-8" onclick="navigateTo(8)">03 무드보드 생성</div>
    <div class="step" id="st-9" onclick="navigateTo(9)">04 브랜드 대시보드</div>
</div>

<main th:insert="${content}"></main>

<script th:src="@{/js/common.js}"></script>

</body>
</html>